/* .projects {
   margin-top: 30px;
    text-align: center;
      display: grid; 
    grid-template-columns: 300px 300px;
    grid-template-rows: 3; 
} */

/* .projects {
    display: flex;
} */
.projects {
    margin-bottom: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-grid {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 100px ;
    
      /* display: grid; 
    grid-template-columns: 300px 300px;
    grid-template-rows: 3;  */
}

.projects h1 {
    color: black;
    text-align: center;
}

.title-container {
    box-shadow: 7px 5px 5px rgba(167,167,167, 0.4);
    background: rgba(255,255 , 255, 0.3);
    border-radius: 5px;
    width: 200px;
    padding: 1rem;
}

.card {
    color: black;
    /* cursor: pointer; */
    /* width: 40%; */
    width: 300px;
    height: 350px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 8px;
    position: relative;
    border: transparent;
    border-radius: 8px;
    overflow:hidden;
}

.title {
    width: 100%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background:linear-gradient(180deg, rgba(182, 179, 179, 0.342)); */
}

/* .card h2 {
    position: absolute;
    color: white;
    top: 10%;
    
} */

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.links{
    
    display: flex;
    gap: 20px;
}

.project-btn{
margin-top: 20px;
color: #1a1b1f;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
      
}

.slider a {
    text-decoration: none;
    color: black;
    background-color:#949494;
    padding: 7px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: .8rem;
    width: 100px;
}

.slider a:hover {
background-color: white;
border: solid 1px firebrick;
color: firebrick;
}

/* .card:hover img {
    opacity: 0.3;
} */

/* .card:hover .middle {
    opacity: 1
} */

.card:hover .slider {
    transform: translatey(-100%);
    height: 200px;
    transition: 0.4s ease;
}


.card img {
width: 100%;
height: 100%;
border-radius: 8px;
object-fit: cover;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  

/* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    border-radius: 10%;
    background-color: green;

} */

.btn {
background-color: #90B8F8;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

 .btn a {
    text-decoration: none;
    color: firebrick;
    
}

/* .btn:hover {
    background-color: white;
    background: transparent;
    border: solid white 2px;

} */ 

@media(min-width:40rem){
    .projects-grid{
        width: 80%;
    }
}