/* .projects {
   margin-top: 30px;
    text-align: center;
      display: grid; 
    grid-template-columns: 300px 300px;
    grid-template-rows: 3; 
} */

/* .projects {
    display: flex;
} */
.projects {
    margin-bottom: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-grid {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 50px ;
    
      /* display: grid; 
    grid-template-columns: 300px 300px;
    grid-template-rows: 3;  */
}

.projects h1 {
    color: black;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    color: black;
    cursor: pointer;
    /* width: 40%; */
    width: 300px;
    height: 350px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 8px;
    position: relative;
    border: transparent;
    border-radius: 8px;
    overflow:hidden
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.project-btn{
margin-top: 20px;
color: #1a1b1f;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
      
}

.project-btn :hover {
    color: firebrick;
    border: firebrick;
    cursor: pointer;
}



.project-btn a {
    text-decoration: none;
    color: black;
}


/* .card:hover img {
    opacity: 0.3;
} */

/* .card:hover .middle {
    opacity: 1
} */

.card:hover .slider {
    transform: translatey(-100%);
    height: 200px;
    transition: 0.4s ease;
}


.card img {
width: 100%;
height: 100%;
border-radius: 8px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  

/* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    border-radius: 10%;
    background-color: green;

} */

.btn {
background-color: #90B8F8;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

 .btn a {
    text-decoration: none;
    color: firebrick;
    
}

/* .btn:hover {
    background-color: white;
    background: transparent;
    border: solid white 2px;

} */ 

@media(min-width:40rem){
    .projects-grid{
        width: 80%;
    }
}