.contact {
    margin-top: 5rem;
    color: white;
    height: 500px;
    background-image: linear-gradient(#eeeff1, #77ABB7) ;
}

.contact h1 {
    text-align: center;
    color: black;
}

.contact-form {
    height: 300px;
    width: 60%;
    background: #eeeff1;
    /* margin-bottom: 30px;
    margin-left: 110px; */
    margin: auto;
    border-radius: 8px;
    color: black;
    border: solid black;
    padding: 10px;
    position: relative;
    
}

#message {
    height: 120px;
    width: 300px; 
    border-radius: 5px;
    /* margin-left: 7px; */
    margin: auto;
}

.button {
    left: 45%;
    bottom: 15%;
    position: absolute;
    background: black;
    color: #fff;
    padding: 10px;
    border-radius: 4px;

}

.message-container {
    margin-top: 30px;
}

.form-items {
    margin: auto;
    top: 20%;
    left: 25%;
}


