
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,300&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
     margin: 0;
    padding: 0; 
    
}

body {
    background:#eeeff1;
    margin: 0;
    font-family: "Poppins";
  }

  .backdrop {
    /* opacity: 0; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    transition: opacity 2s linear;
}

.backdrop-hide{
    display: none;
}
  /* body::after{
      clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
      background: linear-gradient(45deg,rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
      width: 100%;
      height: 100%;
  } */

  
  .intro {
    /* background-image: linear-gradient( 175deg,#77ABB7,#eeeff1) ; */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
        width: 100%;
      height: 100vh; 
  }

  .intro-wrapper {
      /* position: absolute; */
      /* margin-top: 3rem; */
      /* top: 20%; */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
  }

  .fa-x {
      z-index: 1;
      background: rgba(0,0,0,0);
  }

  /* .intro button {
      background-color: #1a1b1f;
      background-size: auto;
      border: white;
      border-radius: 8px;
      width: 175px;
      height: 60px;
      color: white;
      font: 20px "Poppins";
      margin-left: 20px;
      cursor: pointer;
  } */

  .btn-work {
    margin-top: 20px;
    background-color: #1a1b1f;
    border: white;
    border-radius: 8px;
    width: 125px;
    height: 50px;
    color: white;
    font: 20px "Poppins";
    cursor: pointer;

  }

  .btn-work a{
      text-decoration: none;
      color: white;
  }

  .btn-work:hover{
      color: red;
      background: white;
      border: solid 2px black;
  }

  .btn-work:hover a{
      color: black;
      font-weight: bolder;
  }

  .icon-arrow {
      display: none;
      height: 2.5rem;
      position: absolute;
      bottom: 15%;
      cursor: pointer;
      color: #808080;
      /* animation: fade-in 3s forwards; */
      animation: bounce 3s ease infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-25px);}
	60% {transform: translateY(-15px);}
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .icons a {
      color: black;
      background: black;
  }

  .linked {
      color: black;
      height: 1.5rem;
      position: fixed;
      bottom: 5%;
      right: 3%;
      cursor: pointer;

  }

  .git {
      height: 1.5rem;
      position: fixed;
      bottom: 10%;
      right: 3%;
      cursor: pointer;
  }

  .work-btn {
      color: #fff;
      background: #1a1b1f;
      border-radius: 5px;
      padding: 10px;
      text-decoration: none;
  }

  .intro-text {
      margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align:center;
   top: 20%;
   /* font-size: 30px; */
   
}   

.intro-text h2 {
    font-size: 2rem;
    text-transform: uppercase;
    /* background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    ); */
    /* background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text; */
    /* text-fill-color: transparent; */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* animation: textclip 4s linear infinite; */
    display: inline-block;
}

/* @keyframes textclip {
    to {
      background-position: 200% center;
    }
  } */

.photo-container {
    /* background:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52),  rgba(68,64,64,1)),  */
    background: url('./images/my-face-removebg.png')center/cover no-repeat;
    height: 250px;
    width: 250px;
    border-radius: 6px;
    /* clip-path: circle(50%); */
}


  .intro-text p {
      margin-bottom: 10px;
      /* color: rgb(82, 186, 228); */
      font-size: inherit;
  }

  .intro-text h1 {
      margin-bottom: 15px;
      font-size: 4rem;
  }

  .subtitle {
      /* color: #77ABB7; */
      color: black;   
  }

  /* .container {
      border: solid white;
  } */
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.initials {
    color: #071E3D;
    display: flex;
    color: #071E3D;
    align-items: center;
    width: 30%;
    /* justify-content: space-between; */
}

.initials a{
    text-decoration: none;
    color: #1a1b1f;
}

.initials h2 {
    display: none;
}

.burger {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-left: 7px;
  }

  .burger-line {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }


/* .burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #e6f1ff;
} */



.main-header {
    width: 100%;
    height: 60px;
    margin: auto;
    /* background-color: rgba(0,0,0,0); */
    /* background: #d3d3d3; */
    background: rgba(211,211,211,0.4);
    color: black;
    /* padding: 8px 16px; */
    padding: 0 1rem;
    /* top: 0;
    left: 0; */
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .main-header > div {
    display: inline-block;
    vertical-align: middle;
    color: #071E3D;
} */

.name {
    display: inline-block;
}

.main-nav {
    /* display: inline-block;
    color: black;
    font-weight: bold;
    text-align: right;
    vertical-align: middle; 
    width: calc(100% - 95px); */
    display:none;
}

.mobile-nav {
    /* display: none; */
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 80%;
    height: 100vh;
    transition: transform .3s ease-out;
    transform: translateX(-100%);
 
}

.main-header button {
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
}

.mobile-show {
    display: block;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: transform .3s ease-out;
    transform: translateX(0%);
    width: 80%;
    height: 100vh; 
   
}

.mobile-nav__items {
    width: 90%;
    list-style: none;
    margin: 0 auto ;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: black;
}

.mobile-nav__item {
    text-align: center;
    width: 90%;
    /* height: 100%; */
    list-style: none;
    /* margin-top: 10rem; */
    margin-top: 5rem;
    
}

.nav-links {
    text-decoration: none;
    width: 90%;
    color: black;
}

.main-nav__item {
    /* display: inline-block; */
    margin: 0 16px;
    /* color: #071E3D; */
}

.main-nav__items {
    /* margin-left: 200px; */
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    /* text-align: center; */
    /* width: calc(100% - 95px); */
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 5px;
}

/* .main-nav__item a {
    text-decoration: none;
    padding: 5px;
} */

.main-nav__item a:hover {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}

.work-btn:hover {
color: black;
border: solid 2px black;
}

.title h2 {
    font-weight: bold;
}

.intro-image {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 200px;
    display: none;
}

/* .intro-image img {
    width: 80%;
    
} */

.myImg {
    height: 250px;
    width: 250px;
    clip-path: circle();
    background-color: white;
    padding: 25px;
    position: absolute;
    bottom: 20%;
    left: 30%; 
}

/* @media (min-width:720px) {
    .intro-text h1{
        font-size: 1.5rem;
    }
} */

@media (min-width: 940px) {
    .initials h2 {
        display: flex;
    }
    
}

 @media (min-width: 40rem) {

      .intro{
        display: flex;
        align-items: center;
       justify-content: center;
        
    }  
    
    .initials {
        display: flex;
        gap: 5%;
        margin-left: 5px;
    }

    .initials h2 {
        font-size: 1.2rem;
    }

    .photo-container{
        min-width: 200px;
    }

    .intro-wrapper{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-direction: row-reverse;
        gap: 3rem;
        margin:5px
    }
    
    .intro-text {
         display: flex;
        flex-direction: column; 
        align-items: flex-start;
        /* align-items: center;
        justify-content: space-between; */
        text-align: left;
        font-size: 3rem;
    }  

    .intro-text h2 {
        font-size: 1.7rem;
    }
   
    .btn-view {
        margin-top: 40px;
    }
     
    .main-nav {
     display: inline-block;
    }
    .burger{
        display: none;
    }
    .main-header button{
        display: none;
    }
    .icon-arrow {
        display: block;
    }

}

