
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,300&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
     margin: 0;
    padding: 0; 
    
}

body {
    background:#eeeff1;
    margin: 0;
    font-family: "Poppins";
  }

  /* body::after{
      clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
      background: linear-gradient(45deg,rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
      width: 100%;
      height: 100%;
  } */

  
  .intro {
    background-image: linear-gradient( 175deg,#77ABB7,#eeeff1) ;
      position: relative;
      width: 100%;
      height: 100vh;
  }

  .intro button {
      background-color: #1a1b1f;
      background-size: auto;
      border: white;
      border-radius: 8px;
      width: 175px;
      height: 60px;
      color: white;
      font: 20px "Poppins";
      margin-left: 20px;
      cursor: pointer;
  }
    .intro-text {
      color: black;
      position: absolute; 
      text-align:left;
     /* border: dotted white; */
     top: 30%;
     padding-left: 16px;
     font-size: 60px;
  }  

  .intro-text p {
      margin-bottom: 10px;
      /* color: rgb(82, 186, 228); */
      font-size: inherit;
  }

  .intro-text h1 {
      margin-bottom: 15px;
      font-size: inherit;
  }

  .subtitle {
      /* color: #77ABB7; */
      color: black;
  }

  /* .container {
      border: solid white;
  } */
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.initials {
    display: inline-block;
    color: #071E3D;
}

.burger {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #e6f1ff;
}


.main-header {
    width: 100%;
    background-color: rgba(0,0,0,0);
    color: black;
    padding: 8px 16px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    color: #071E3D;
}

.name {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-align: right;
    vertical-align: middle; 
    width: calc(100% - 95px);
    display:none;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #77ABB7;
    width: 80%;
    height: 100vh;
}

.monile-nav__items {
    /* text-align: center;
    width: 90%;
    height: 100%; */
    list-style: none;
}

.mobile-nav__item {
    text-align: center;
    width: 90%;
    height: 100%;
    list-style: none;
    margin-top: 10rem;
}

.nav-links {
    text-decoration: none;
    width: 90%;
}

@media (min-width: 40rem) {
    .main-nav {
     display: inline-block;
    }
    .burger div{
        display: none;
    }

}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
    /* color: #071E3D; */
}

.main-nav__items {

    margin-left: 200px;
    padding: 0;
    text-align: right;
}

.nav-links {
    color: #e6f1ff;
}

.main-nav__item a {
    text-decoration: none;
    padding: 5px;
}

.main-nav__item a:hover {
    background-color: #90B8F8;
    border-radius: 4px;
    color: firebrick;
}

.intro-image {
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    left: 200px;
    display: none;
}

/* .intro-image img {
    width: 80%;
    
} */

.myImg {
    height: 250px;
    width: 250px;
    clip-path: circle();
    background-color: white;
    padding: 25px;
    position: absolute;
    bottom: 20%;
    left: 30%; 
}